﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title -</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/sabtasnad.css" rel="stylesheet" />
    @RenderSection("styles", false)


</head>
<body style="font-family:'B Yekan+'">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@("http://" + Request.Url.Authority)">.ir</a>            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li class="active"><a href="@("http://" + Request.Url.Authority)">صفحه اصلي</a></li>
                   
                </ul>
                @Html.Partial("_LoginPartial")

            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        @RenderBody()

        <footer style="margin-top:20px">
            <p> &copy; ElectionBot</p>
        </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/js/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/noty/packaged/jquery.noty.packaged.min.js"></script>

    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
