﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/css/dashboard.css" rel="stylesheet" />
    <link href="~/Content/css/sabtasnad.css" rel="stylesheet" />
    <link href="~/Content/Pagination.css" rel="stylesheet" />
    @RenderSection("styles", false)


</head>
<body style="font-family:'B Yekan+';font-size:medium;padding-top: 35px;">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@("http://" + Request.Url.Authority)">.ir</a>
                        </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/Markaz/FollowRequestGet">پیگیری درخواست</a></li>
                    <li><a href="@("http://" + Request.Url.Authority)">صفحه اصلی</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div> <!--/.nav-collapse -->
        </div>
    </div>














    <div class="container-fluid main-container">


        <div class="col-md-10 content">
            <div class="row">
                <br />
                @RenderBody()



            </div>

        </div>

        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->
                <div class="side-menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="/Admin/Index"><span class="glyphicon glyphicon-dashboard"></span> داشبورد</a></li>


                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-user1">
                                        <span class="glyphicon glyphicon-user"></span> کاندید ها<span class="caret"></span>
                                    </a>
                                    <div id="dropdown-user1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="/Admin/AddCandidate">اضافه کردن</a></li>
                                                <li><a href="/Admin/CandidateList">لیست</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-Modirs">
                                        <span class="glyphicon glyphicon-star"></span> مدیر سامانه<span class="caret"></span>
                                    </a>
                                    <div id="dropdown-Modirs" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="/Admin/ChangePass">تغییر کلمه عبور</a></li>
                                                <li><a href="/Admin/AdminResetPass"> بازیابی کلمه عبور</a></li>
                                                <li><a href="/Admin/AdminChangeEmail">تغییر ایمیل</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                               
                                <!-- Dropdown-->
                                <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl1">
                                        <span class="glyphicon glyphicon-cog"></span>تنظیمات سیستمی <span class="caret"></span>
                                    </a>

                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-lvl1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#">گذرواژه</a></li>
                                                <!-- Dropdown level 2
                                                <li class="panel panel-default" id="dropdown">
                                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                                        <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                                    </a>
                                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul class="nav navbar-nav">
                                                                <li><a href="#">Link</a></li>
                                                                <li><a href="#">Link</a></li>
                                                                <li><a href="#">Link</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>-->

                                            </ul>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>
            </div>
        </div>


        <footer class="pull-left footer">
            <p> &copy; ElectionBot</p>

        </footer>
    </div>



    <!-- /container -->
    <script src="~/Scripts/js/jquery/1.11.0/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/js/dashboard.js"></script>
    <script src="~/Scripts/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>    

   
    @RenderSection("scripts", required: false)

</body>
</html>