﻿@if (Request.IsAuthenticated)
{ 
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav" style="font-family:'B Yekan+';font-size:small">
        @if (User.IsInRole("Pishkhan"))
        {
            <li><a href="/Pishkhan/Index">(دفتر پیشخوان) @User.Identity.Name خوش آمدید </a></li>

        }
        else if (User.IsInRole("Admin"))
        {
            <li><a href="/Admin/Index"> (مدیر) @User.Identity.Name  خوش آمدید</a></li>
        }
        else if (User.IsInRole("Markaz"))
        {
            <li><a href="/Markaz/Index"> (اداره مرکزی) @User.Identity.Name  خوش آمدید</a></li>
        }
        else
        {
            <li><a href="/Home/Index">@User.Identity.Name به سامانه خوش آمدید</a></li>

        }

        <li><a href="/Account/LogOut">خروج از سامانه</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav" >
        <li><a href="/Account/Login">ورود به سامانه</a></li>
    </ul>
}
