﻿@model Tuple<string>
@{
    ViewBag.Title = "خطا!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span4">
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <h4 class="alert-heading">خطا!</h4>
        <text style="font-family:'B Yekan+'">
            @Model.Item1
        </text>
    </div>
</div>

