﻿@using Webdiyer.WebControls.Mvc
@model PagedList<ElectionWebServerBot.Models.DomainModel.Candidate>


<div id="ClientOrders">
    <div class="col-md-10 content">

        <!--#######################################################-->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list pull-right"></span>لیست کاندید ها
                <div class="pull-left action-buttons">
                    <div class="btn-group pull-left">
                      
                        
                        <a  class="btn btn-warning btn-xs" href="/Admin/AddCandidate">
                            <span class="glyphicon glyphicon-plus"></span>کاندید جدید
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped" style="">

                            <thead>
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>نام مسئول</th>
                                    <th>وضعیت</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    string Tt = "فعال";
                                    string Ft = "غیر فعال";
                                    string Tc = "label label-success";
                                    string Fc = "label label-default";
                                }
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Education</td>
                                        <td>
                                            <span class="@if (item.Enable) {@Tc } else {@Fc }">
                                                @if (item.Enable )
                                                {@Tt }
                                                else
                                                {@Ft }
                                            </span>
                                        </td>
                                        <td>

                                            <p data-placement="top" data-toggle="tooltip" title="ویرایش" class="pull-left" style="margin-right: 5px;">
                                                <a class="btn btn-primary btn-xs" href="/Admin/EditCandidate/@item.Id">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </p>
                                            <p data-placement="top" data-toggle="tooltip" title="حذف" class="pull-left"><a href="/Admin/Delete/@item.Id" class="btn btn-danger btn-xs btndeletep"><span class="glyphicon glyphicon-trash"></span></a></p>
                                        </td>
                                    </tr>

                                }

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-1">
                        <h6>
                            تعداد <span class="label label-info">@Model.TotalItemCount</span>
                        </h6>
                    </div>
                    <div class="col-md-11">

                        <div class="text-center">
                            @Ajax.Pager(Model,
    new PagerOptions
    {
        PageIndexParameterName = "Page",
        ContainerTagName = "ul",
        CssClass = "pagination",
        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
        PagerItemTemplate = "<li>{0}</li>",
        
        FirstPageText = "اول",
        MorePageText = "بیشتر",
        NextPageText = "<span class='glyphicon glyphicon-chevron-right'></span>",
        PrevPageText = "<span class='glyphicon glyphicon-chevron-left'></span>",
        LastPageText = "آخر",
        
        
    }).AjaxOptions(a => a.SetUpdateTargetId("ClientOrders"))
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------>
        <!--#######################################################-->
        <div class="container">
            <div class="row">



            </div>
        </div>










    </div>

</div>


