﻿@model Tuple<List<ElectionWebServerBot.Models.DomainModel.City>, int>
@{
    string Selected = "";
}
    <select name="Candidate.CityId" id="CityId">
    @foreach (var item in Model.Item1)
    {
        if (item.CityId == Model.Item2)
        {
            Selected = "selected";
        }
        <option @Selected value="@item.CityId">@item.Title</option>
        Selected = "";
    }
</select>

