﻿@model ElectionWebServerBot.Models.DomainModel.Satrap
<input style="display:none">
<input type="password" style="display:none">
<table>
    <tr>
        <td>

            @Html.LabelFor(model => model.SatrapObor, htmlAttributes: new { @class = "control-label " })



        </td>
        <td>
            @Html.HiddenFor(model => model.SatrapObor, new { htmlAttributes = new { @class = "form-control" } })
            <input class="form-control" type="password" name="npass" value="" autocomplete="off"  />

        </td>

    </tr>


</table>
