﻿@model ElectionWebServerBot.ViewModels.CandidateViewModel

@{
    ViewBag.Title = "اضافه کردن کاندید";
}

<h>AddClient</h>


@using (Html.BeginForm("AddCandidate", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "ClientForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <table class="form-horizontal table-responsive" style="">
        <tr>
            <td>
                آدرس
            </td>
            <td>





                <table>
                    <tr>
                        <td>استان:</td>
                        <td>
                            <select name="Candidate.StateID" id="StateID">
                                @{
    List<ElectionWebServerBot.Models.DomainModel.State> ml = new List<ElectionWebServerBot.Models.DomainModel.State>();
    if (Model != null)
    {
        ml = Model.States;
    }
                                }
                                @foreach (var item in ml)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </td>
                        <td>
                            شهر:
                        </td>
                        <td>
                            <div id="city"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.FullName, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.FullName, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.FullName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Description, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Description, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Description, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Education, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Education, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Education, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Message, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Message, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Message, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.History, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.History, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.History, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Pic, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>


                @Html.Upload("UploadImage")
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Pic, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Party, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Party, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Party, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.ContactInfos, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.ContactInfos, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.ContactInfos, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Email, htmlAttributes: new { @class = "control-label col-md-" })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Email, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Candidate.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                نام کااربری
            </td>
            <td>
                <input type="text" name="UserName" value=" " />
            </td>

        </tr>
        <tr>
            <td>
                پسوورد
            </td>
            <td>
                <input type="password" name="Password" value=" " />
            </td>

        </tr>
    </table>
    <hr />

    <input type="submit" value="ایجاد کردن" class="btn btn-success" id="btnAddPish" style="float:left" />
    <img id="loadajaxpic" hidden="hidden" src='/Content/AjaxLoading2.GIF' style="float:left" />
}


@section Scripts {

    <script>
        @if (ViewBag.AddCandidate == 1)
        {
       <Text> $.noty.closeAll(); noty({ text: "@ViewBag.AddCandidateM", type: "alert", layout: "center", dismissQueue: false, modal: false });</Text>
       ViewBag.AddCandidate = 0;
        }
    </script>
    <script>

        $('#StateID').on('change', function () {
            $.ajax({
                url: "/Admin/GetCities",
                data: { id: this.value },
                type: "Get",
                success: function (result) {
                    $('#city').html(result)
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                },
                error: function () {
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                    alert("خطا!");
                }
                       , beforeSend: function () {
                           $("#btnAddPish").hide()
                           $('#loadajaxpic').show();
                       }


            });
        });
    </script>
    @*<script type="text/javascript">
            $("#btnAddPish").click(function (e) {
                e.preventDefault();
                if ($("#ClientForm").valid()) {
                    $.ajax({
                        url: "/Admin/AddCandidate",
                        data: $("#ClientForm").serialize(),
                        type: "Post",
                        success: function (result) {
                            eval(result);
                            $("#btnAddPish").show()
                            $('#loadajaxpic').hide();

                        },
                        error: function () {
                            $("#btnAddPish").show()
                            $('#loadajaxpic').hide();

                            alert("خطا!");
                        }
                        , beforeSend: function () {
                            $("#btnAddPish").hide()
                            $('#loadajaxpic').show();
                        }


                    });
                }
            });
        </script>*@

    @Scripts.Render("~/bundles/jqueryval")
}
