﻿@using Webdiyer.WebControls.Mvc
@model PagedList<ElectionWebServerBot.Models.DomainModel.Candidate>

@{
    ViewBag.Title = "لیست کلاینت ها";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="orders">
    @Html.Partial("_CandidateList", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}

}

