﻿@model ElectionWebServerBot.ViewModels.Account.ChangePass

@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ChangePass</h2>



    @using (Html.BeginForm("", "", null, FormMethod.Post, new { id = "frm" }))
    {

@Html.AntiForgeryToken()

<table>
    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.OldPass, htmlAttributes: new { @class = "control-label " })
        </td>
        <td>
            @Html.EditorFor(model => model.OldPass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OldPass, "", new { @class = "text-danger" })
        </td>

    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.NewPass, htmlAttributes: new { @class = "control-label " })


        </td>
        <td>
            @Html.EditorFor(model => model.NewPass, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPass, "", new { @class = "text-danger" })
        </td>
    </tr>
</table>
    <input type="submit" value="وارایش" class="btn btn-success" id="btnEditPass" style="float:left" />
    <img id="loadajaxpic" hidden="hidden" src='/Content/AjaxLoading2.GIF' style="float:left" />
    }


@section scripts{
<script type="text/javascript">

    $("#btnEditPass").click(function (e) {
        e.preventDefault();
        if ($("#frm").valid()) {
            $.ajax({
                url: "/Admin/ChangePass",
                data: $("#frm").serialize(),
                type: "Post",
                success: function (result) {
                    eval(result);
                    $("#btnEditPass").show()
                    $('#loadajaxpic').hide();
                },
                error: function () {
                    $("#btnEditPass").show()
                    $('#loadajaxpic').hide();

                    alert("خطا!");
                }
                , beforeSend: function () {
                    $("#btnEditPass").hide()
                    $('#loadajaxpic').show();
                }


            });
        }
    });
</script>

}
