﻿@model ElectionWebServerBot.ViewModels.CandidateViewModel

@{
    ViewBag.Title = "ویرایش کاندید";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("", "", null, FormMethod.Post, new { id = "ClientEditForm" }))
{
    @Html.AntiForgeryToken()
    <table style="margin-right:10px">
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                آدرس
            </td>
            <td>





                <table>
                    <tr>
                        <td>استان:</td>
                        <td>
                            <select name="Candidate.StateID" id="StateID">
                                @{
    List<ElectionWebServerBot.Models.DomainModel.State> ml = new List<ElectionWebServerBot.Models.DomainModel.State>();
    if (Model != null)
    {
        ml = Model.States;
    }
    string Selected = "";

                                }

                                @foreach (var item in ml)
                                {
                                    if (item.Id == Model.Candidate.StateID)
                                    {
                                        Selected = "selected";
                                    }
                                    <option @Selected value="@item.Id">@item.Title</option>

                                    Selected = "";

                                }
                            </select>

                        </td>
                        <td>
                            شهر:
                        </td>
                        <td>
                            <div id="city">
                                @Html.Partial("_Cities", new Tuple<List<ElectionWebServerBot.Models.DomainModel.City>,int>(Model.City,Model.Candidate.CityId))


                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.FullName, htmlAttributes: new { @class = "control-label ", name = "ShomarePishkhan" })

            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.FullName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Description, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.TextAreaFor(model => model.Candidate.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Description, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Education, htmlAttributes: new { @class = "control-label " })

            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Education, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Education, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Message, htmlAttributes: new { @class = "control-label " })

            </td>
            <td>
                @Html.TextAreaFor(model => model.Candidate.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Message, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.ContactInfos, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.TextAreaFor(model => model.Candidate.ContactInfos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.ContactInfos, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><hr /></td>
            <td><hr /></td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Party, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Party, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Party, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td>

                @Html.LabelFor(model => model.Candidate.History, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.TextAreaFor(model => model.Candidate.History, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.History, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>

                @Html.LabelFor(model => model.Candidate.Email, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.EditorFor(model => model.Candidate.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Pic, htmlAttributes: new { @class = "control-label col-md-2", style = "float:right" })
            </td>

            <td>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.ImageFor(x => x.Candidate.Pic, new { width = "100", height = "100" }, "Tulips.jpg", "CandidateFiles", "Pics")
                        @Html.Upload("Image", new { id = "Image" })
                        @Html.ValidationMessageFor(model => model.Candidate.Pic, "", new { @class = "text-danger" })

                    </div>
                </div>
            </td>
            <td>
                عکس حذف گردد:
                <input id="IsPicDel" type="checkbox" name="IsPicDel" value="false" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Candidate.Enable, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Candidate.Enable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Candidate.Enable, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><hr /></td>
            <td><hr /></td>
        </tr>
    </table>
    <hr />
                                //{
                                //Model.Satraps.FirstOrDefault().SatrapObor = "";
                                //}
                                @Html.Partial("_SatrapLogin", new ElectionWebServerBot.Models.DomainModel.Satrap())
                                <input type="submit" value="وارایش" class="btn btn-success" id="btnEditClient" style="float:left" />
                                <img id="loadajaxpic" hidden="hidden" src='/Content/AjaxLoading2.GIF' style="float:left" />

                                <a class="btn btn-primary" style="float:right" href="/Admin/CandidateList">بازگشت به کاندیدها</a>

    <input type="hidden"   name="id" value="@Model.Candidate.Id" />
}

@section scripts{

    <script>
        $('#IsPicDel').change(function () {

            if (this.value) {
                this.value = true;
            } else {
                this.value = false;
            }
        });
        $('#StateID').on('change', function () {
            $.ajax({
                url: "/Admin/GetCities",
                data: { id: this.value },
                type: "Get",
                success: function (result) {
                    $('#city').html(result)
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                },
                error: function () {
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                    alert("خطا!");
                }
                       , beforeSend: function () {
                           $("#btnAddPish").hide()
                           $('#loadajaxpic').show();
                       }


            });
        });
    </script>

    <script type="text/javascript">

        $("#btnEditClient").click(function (e) {
            e.preventDefault();
            var fd = new FormData();

            
            var other_data = $('#ClientEditForm').serialize(); //page_id=&category_id=15&method=upload&required%5Bcategory_id%5D=Category+ID

            var files = $("#Image").get(0).files;
            if (files.length > 0)
                fd.append("Image", files[0]);

            
            if ($("#ClientEditForm").valid()) {
                $.ajax({
                    url: "/Admin/EditCandidate?" + other_data,
                    data: fd,
                    type: "Post",
                    "headers": {
                        "cache-control": "no-cache",
                    },
                    "processData": false,
                    "contentType": false,
                    "mimeType": "multipart/form-data",
                    success: function (result) {
                        eval(result);
                        $("#btnEditClient").show()
                        $('#loadajaxpic').hide();
                    },
                    error: function (e) {
                        $("#btnEditClient").show()
                        $('#loadajaxpic').hide();

                        alert(e.responseText);
                    }
                    , beforeSend: function () {
                        $("#btnEditClient").hide()
                        $('#loadajaxpic').show();
                    }


                });
            }
        });
    </script>
}
