﻿@model bool
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    string style = "red";
    string state = "Stop";
    if (Model)
    {
        style = "Green";
        state = "Run";
    }
}

<br />
<br />

<h1 style="margin:50px;color:@style">@state</h1>

<br />
<input type="submit" value="وارایش" class="btn btn-success" id="btnChangeState" style="float:left" />
<img id="loadajaxpic" hidden="hidden" src='/Content/AjaxLoading2.GIF' style="float:left" />

@section Scripts{
    <script>
        $('#btnChangeState').click(function () {

            $.ajax({
                url: "/Admin/StartBot",
                type: "Get",
                success: function (result) {
                    eval(result);
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();
                },
                error: function () {
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();
                    alert("خطا!");
                }
                      , beforeSend: function () {
                          $("#btnAddPish").hide()
                          $('#loadajaxpic').show();
                      }


            });
        });
    </script>
}