﻿@model ElectionWebServerBot.ViewModels.CandidateViewModel
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table>
    <tr>
        <td>
            <input id="RDOJme" name="Recivers" type="radio" value="3" checked="checked">
            <label for="RDOJme">Just Me</label>
        </td>
        <td>
            <input id="RDOAll" name="Recivers" type="radio" value="1" checked="checked">
            <label for="RDOAll">همه</label>
        </td>
    </tr>
    <tr>
        <td>
            <input id="RDOAddress" name="Recivers" type="radio" value="2">
            <label for="RDOAddress">بر اساس آدرس</label>
        </td>
        <td>استان:</td>
        <td>
            <select name="Candidate.StateID" id="StateID">
                @{
                    List<ElectionWebServerBot.Models.DomainModel.State> ml = new List<ElectionWebServerBot.Models.DomainModel.State>();
                    if (Model != null)
                    {
                        ml = Model.States;
                    }

                }

                @foreach (var item in ml)
                {

                    <option value="@item.Id">@item.Title</option>



                }
            </select>

        </td>
        <td>
            شهر:
        </td>
        <td>
            <div id="city">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input id="RDOCandidate" name="Recivers" type="radio" value="3">
            <label for="RDOCandidate">بر اساس نماینده</label>
            <select class="selectpicker" data-live-search="true" multiple name="CandidateIds" id="CandidateIds">
                @{
                    List<ElectionWebServerBot.Models.DomainModel.Candidate> Cas = new List<ElectionWebServerBot.Models.DomainModel.Candidate>();
                    if (Model != null)
                    {
                        Cas = Model.Candidates;
                    }


                }

                @foreach (var item in Cas)
                {

                    <option value="@item.Id">@item.FullName</option>
                }
            </select>


        </td>
    </tr>
    <tr>
        <td>
            <textarea id="Message" style="margin-top:20px" name="message" rows="4" cols="50"></textarea>
        </td>
        <td>
            عکس:
        </td>
        <td>
            @Html.Upload("Image", new { id = "Image" })
        </td>
    </tr>
</table>
<input type="submit" value="ارسال" class="btn btn-success" id="btnSendMessage" style="float:left" />

@section styles{
    <link href="~/Content/silviomoreto-bootstrap-select-a8ed49e/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/silviomoreto-bootstrap-select-a8ed49e/js/bootstrap-select.js"></script>
    <script>
        (function ($) {
            $.fn.selectpicker.defaults = {
                noneSelectedText: 'همه پیشخوان ها',
                noneResultsText: 'هیج مشابهی برای {0} پیدا نشد',
                countSelectedText: "{0} از {1} مورد انتخاب شده",
                maxOptionsText: ['بیشتر ممکن نیست {حداکثر {n} عدد}', 'بیشتر ممکن نیست {حداکثر {n} عدد}'],
                selectAllText: 'انتخاب همه',
                deselectAllText: 'انتخاب هیچ کدام',
                multipleSeparator: ', '
            };
        })(jQuery);

    </script>
    <script>


        $('#btnSendMessage').click(function () {
            var RecieverType = 0;
            if ($('#RDOAll').is(':checked')) RecieverType = 0;
            if ($('#RDOAddress').is(':checked')) RecieverType = 1;
            if ($('#RDOCandidate').is(':checked')) RecieverType = 2;
            if ($('#RDOJme').is(':checked')) RecieverType = 3;
            var data = new FormData();
            var files = $("#Image").get(0).files;
            if (files.length > 0)
                data.append("Image", files[0]);
            data.append("RecieverType", RecieverType)
            data.append("CandidateIds", $('#CandidateIds').val())
            data.append("StateId", $('#StateID').val())
            data.append("CityId", $('#CityId').val())
            data.append("Message", $('#Message').val())

            $.ajax({
                url: "/Admin/SendMessage",
                data: data,
                "headers": {
                    "cache-control": "no-cache",
                },
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                type: "Post",
                success: function (result) {
                    eval(result);
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                },
                error: function () {
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                    alert("خطا!");
                }
                      , beforeSend: function () {
                          $("#btnAddPish").hide()
                          $('#loadajaxpic').show();
                      }


            });
        });
        $('#StateID').on('change', function () {
            $.ajax({
                url: "/Admin/GetCities",
                data: { id: this.value },
                type: "Get",
                success: function (result) {
                    $('#city').html(result)
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                },
                error: function () {
                    $("#btnAddPish").show()
                    $('#loadajaxpic').hide();

                    alert("خطا!");
                }
                       , beforeSend: function () {
                           $("#btnAddPish").hide()
                           $('#loadajaxpic').show();
                       }


            });
        });
    </script>
}