body {
  padding-top: 70px;
  font-family:"b yekan",'Droid Arabic Naskh', tahoma, "Times New Roman";
  font-size:18px;!important;
  direction: rtl;}
h1,h2,h3 {font-family: "b traffic","Times New Roman", Times,Arial,serif;}
p, .jumbotron p{
font-family:  "B Yekan+";
font-size:18px;!important;}
th{text-align:right;}

/* Styles for Quicklunch Admin Menus*/
.quicklunch .btn:not(.btn-block) { 
width:120px;
margin-bottom:10px;
 }
 
 /* admin-lists-panel */
 .trash { color:rgb(209, 91, 71); }
  .send { color:#5cb85c; }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; margin-right: 0px;padding-right: 0px;}
.list-group .checkbox label
{
    margin-right: 20px;
}