﻿@using reCAPTCHA.MVC

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ViewModels.Account.LoginViewModel
@section styles{
    <link href="~/Content/css/signin.css" rel="stylesheet" />
}
@*<form  role="form" action="/Account/Login" method="post"></form>*@

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
     <div class="col-md-4"></div>   
   
    @Html.AntiForgeryToken()
    <h2 class="form-signin-heading">ورود</h2>

    <div style="text-align:center; font-size:x-large; color:red;font-family:'B Yekan+'">
        @ViewBag.Message
    </div>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email address" })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })




    <label class="checkbox">
        @Html.CheckBoxFor(x => x.RememberMe) مرا به یاد بسپار

    </label>

    @Html.Recaptcha()
    @Html.ValidationMessage("ReCaptcha")
    <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
    }
